<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Page</h1>
    <ul>
        <li>
            <span>Title of Page 1</span>
            <a href="/admin/editPage/page1">Edit</a>
        </li>
        <li>
            <span>Title of Page 2</span>
            <a href="/admin/editPage/page2">Edit</a>
        </li>
    </ul>
</body>
</html>
