<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/login">Login</a></li>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/addPage">Add Page</a></li>
        <li><a href="/admin/editPage">Edit Page</a></li>
    </ul>
</nav>
